<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>

    <action id="tr.org.pardus.comar.system.manager.installpackage">
        <description>Install package</description>
        <description xml:lang="tr">Paket yükle</description>
        <message>System policy prevents installing package</message>
        <message xml:lang="tr">Sistem politikası paket yüklemeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.removepackage">
        <description>Remove package</description>
        <description xml:lang="tr">Paket kaldır</description>
        <message>System policy prevents removing package</message>
        <message xml:lang="tr">Sistem politikası paket kaldırmayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.updatepackage">
        <description>Update package</description>
        <description xml:lang="tr">Paket güncelle</description>
        <message>System policy prevents updating package</message>
        <message xml:lang="tr">Sistem politikası paket güncellemeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.updaterepository">
        <description>Update repository</description>
        <description xml:lang="tr">Depo güncelle</description>
        <message>System policy prevents updating repository</message>
        <message xml:lang="tr">Sistem politikası depo güncellemeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.updateallrepositories">
        <description>Update all repositories</description>
        <description xml:lang="tr">Tüm depoları güncelle</description>
        <message>System policy prevents updating all repositories</message>
        <message xml:lang="tr">Sistem politikası tüm depoları güncellemeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.addrepository">
        <description>Add repository</description>
        <description xml:lang="tr">Depo ekle</description>
        <message>System policy prevents adding repository</message>
        <message xml:lang="tr">Sistem politikası depo eklemeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.removerepository">
        <description>Remove repository</description>
        <description xml:lang="tr">Depo kaldır</description>
        <message>System policy prevents removing repository</message>
        <message>Sistem politikası depo kaldırmayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.getinstalled">
        <description>Get installed packages list</description>
        <description xml:lang="tr">Yüklü paket listesini al</description>
        <message>System policy prevents getting installed packages list</message>
        <message xml:lang="tr">Sistem politikası yüklü paketlerin listesini almayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.getupgradable">
        <description>Get upgradable packages list</description>
        <description xml:lang="tr">Güncellenebilir paket listesini al</description>
        <message>System policy prevents getting upgradable packages list</message>
        <message xml:lang="tr">Sistem politikası güncellenebilir paketlerin listesini almayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.getpackageinfo">
        <description>Get package info</description>
        <description xml:lang="tr">Paket bilgisini al</description>
        <message>System policy prevents getting package info</message>
        <message xml:lang="tr">Sistem politikası paket bilgisini almayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.getrepositories">
        <description>Get repositories</description>
        <description xml:lang="tr">Depoları oku</description>
        <message>System policy prevents getting repositories</message>
        <message xml:lang="tr">Sistem politikası depoları almayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.setrepositories">
        <description>Set repositories</description>
        <description xml:lang="tr">Depoları yaz</description>
        <message>System policy prevents setting repositories</message>
        <message xml:lang="tr">Sistem politikası depoları yazmayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.setcache">
        <description>Set PiSi package cache</description>
        <description xml:lang="tr">PiSi paket önbelleğini yaz</description>
        <message>System policy prevents setting PiSi package cache</message>
        <message xml:lang="tr">Sistem politikası PiSi paket önbelleğini yazmayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.manager.clearcache">
        <description>Clear PiSi cache</description>
        <description xml:lang="tr">PiSi önbelleğini boşalt</description>
        <message>System policy prevents clearing PiSi package cache</message>
        <message xml:lang="tr">Sistem politikası PiSi paket önbelleğini boşaltmayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

</policyconfig>
