<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>

    <action id="tr.org.pardus.comar.boot.modules.setoptions">
        <description>Set module options</description>
        <message>System policy prevents setting module options.</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.load">
        <description>Load kernel module</description>
        <message>System policy prevents loading kernel module.</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.unload">
        <description>Unload kernel module</description>
        <message>System policy prevents unloading kernel module.</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.addautoload">
        <description>Unload kernel module</description>
        <message>System policy prevents unloading kernel module.</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.updatemodules">
        <description>Update module configuration</description>
        <message>System policy prevents updating module configuration.</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <!-- Access Labels -->
    <action id="tr.org.pardus.comar.boot.modules.get">
        <description>Get module information</description>
        <message>System policy prevents getting module information.</message>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.editautoload">
        <description>Edit autoload list.</description>
        <message>System policy prevents editing autoload list.</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.editblacklist">
        <description>Edit module blacklist.</description>
        <message>System policy prevents editing module blacklist.</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>
</policyconfig>
