<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>

    <action id="tr.org.pardus.comar.net.link.scanremote">
        <description>Scan remote access points</description>
        <description xml:lang="tr">Uzak erişim noktalarını tara</description>
        <message>System policy prevents scanning remote access points</message>
        <message xml:lang="tr">Sistem politikası uzak erişim noktalarını taramayı engeller</message>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.net.link.deleteconnection">
        <description>Delete connection</description>
        <description xml:lang="tr">Bağlantıyı sil</description>
        <message>System policy prevents removing connections</message>
        <message xml:lang="tr">Sistem politikası bağlantı silmeyi engeller</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.net.link.setstate">
        <description>Set connection state</description>
        <description xml:lang="tr">Bağlantı durumunu değiştir</description>
        <message>System policy prevents changing connection state</message>
        <message xml:lang="tr">Sistem politikası bağlantı durumunu değiştirmeyi engeller</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <!-- Access Labels -->
    <action id="tr.org.pardus.comar.net.link.set">
        <description>Set connection details</description>
        <description xml:lang="tr">Bağlantı detaylarını değiştir</description>
        <message>System policy prevents adding/editing connections</message>
        <message xml:lang="tr">Sistem politikası bağlantı eklemeyi/bağlantıda değişiklik yapmayı engeller</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.net.link.get">
        <description>Get connection/device details</description>
        <description xml:lang="tr">Bağlantı/aygıt detaylarını al</description>
        <message>System policy prevents getting connection/device details</message>
        <message xml:lang="tr">Sistem politikası bağlantı/aygıt detaylarını almayı engeller</message>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>
</policyconfig>
