<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
    <!-- Access Labels -->
    <action id="tr.org.pardus.comar.net.filter.set">
        <description>Change firewall configuration.</description>
        <message>System policy prevents changing firewall configuration.</message>
        <defaults>
            <allow_any>auth_admin_keep_session</allow_any>
            <allow_active>auth_admin_keep_session</allow_active>
            <allow_inactive>auth_admin_keep_session</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.net.filter.get">
        <description>View firewall configuration.</description>
        <message>System policy prevents viewing firewall configuration.</message>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>
</policyconfig>
