<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>

    <action id="tr.org.pardus.comar.boot.modules.setoptions">
        <description>Set module options</description>
        <description xml:lang="tr">Modül seçeneklerini değiştir</description>
        <message>System policy prevents setting module options</message>
        <message xml:lang="tr">Sistem politikası modül seçeneklerini değiştirmeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.load">
        <description>Load kernel module</description>
        <description xml:lang="tr">Çekirdek modülünü etkinleştir</description>
        <message>System policy prevents loading kernel module</message>
        <message xml:lang="tr">Sistem politikası çekirdek modülünü etkinleştirmeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.unload">
        <description>Unload kernel module</description>
        <description xml:lang="tr">Çekirdek modülünü etkisiz kıl</description>
        <message>System policy prevents unloading kernel module</message>
        <message xml:lang="tr">Sistem politikası çekirdek modülünü etkisiz kılmayı engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.addautoload">
        <description>Add autoloading kernel module</description>
        <description xml:lang="tr">Otomatik yüklenen çekirdek modülü ekle</description>
        <message>System policy prevents adding an autoloading kernel module</message>
        <message xml:lang="tr">Sistem politikası otomatik yüklenen çekirdek modülü eklenmesini engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.updatemodules">
        <description>Update module configuration</description>
        <description xml:lang="tr">Modül yapılandırmasını güncelle</description>
        <message>System policy prevents updating module configuration</message>
        <message xml:lang="tr">Sistem politikası modül yapılandırmasını güncellemeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <!-- Access Labels -->
    <action id="tr.org.pardus.comar.boot.modules.get">
        <description>Get module information</description>
        <description xml:lang="tr">Modül bilgisini al</description>
        <message>System policy prevents getting module information</message>
        <message xml:lang="tr">Sistem politikası modül bilgisini almayı engelliyor</message>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.editautoload">
        <description>Edit autoload list</description>
        <description xml:lang="tr">Otomatik yükleme listesini değiştir</description>
        <message>System policy prevents editing autoload list</message>
        <message xml:lang="tr">Sistem politikası otomatik yükleme listesini değiştirmeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.boot.modules.editblacklist">
        <description>Edit module blacklist</description>
        <description xml:lang="tr">Modül karalistesini değiştir</description>
        <message>System policy prevents editing module blacklist</message>
        <message xml:lang="tr">Sistem politikası modül karalistesini değiştirmeyi engelliyor</message>
        <defaults>
            <allow_any>auth_admin_keep_always</allow_any>
            <allow_active>auth_admin_keep_always</allow_active>
            <allow_inactive>auth_admin_keep_always</allow_inactive>
        </defaults>
    </action>
</policyconfig>
