<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>

    <action id="tr.org.pardus.comar.system.packagehandler.setuppackage">
        <description>Execute package handler setup scripts</description>
        <description xml:lang="tr">Paket işleyicisi kurulum betiklerini çalıştır</description>
        <description xml:lang="fr">Exécuter les scripts de configuration du gestionnaire de paquet</description>
        <description xml:lang="es">Ejecutar los scripts de configuración de paquetes</description>
        <description xml:lang="pl">Wykonywanie skryptów pakietów</description>
	<description xml:lang="de">Ausführen des Paketsteuerer-Setup-Skripts</description>
        <message>System policy prevents executing package handlers' setup scripts</message>
        <message xml:lang="tr">Sistem politikası paket işleyicilerinin kurulum betiklerinin çalıştırılmasını engelliyor</message>
        <message xml:lang="fr">Le mode de gestion du système ne permet pas d'exécuter les scripts de configuration d'un gestionnaire de paquet</message>
        <message xml:lang="es">La política del sistema no permite la ejecución de los scripts de configuración de paquetes</message>
	<message xml:lang="de">Systemrichtlinie verhindert die Ausführung des Paketsteuerer-Setup-Skripts</message>
        <defaults>
            <allow_any>no</allow_any>
            <allow_inactive>no</allow_inactive>
            <allow_active>no</allow_active>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.system.packagehandler.cleanuppackage">
        <description>Execute package handler cleanup scripts</description>
        <description xml:lang="tr">Paket işleyicisi temizlik betiklerini çalıştır</description>
        <description xml:lang="fr">Exécuter les scripts de nettoyage du gestionnaire de paquet</description>
        <description xml:lang="es">Ejecutar los scripts de limpieza de paquetes</description>
        <description xml:lang="pl">Wykonywanie skryptów porządkujących pakietów</description>
	<description xml:lang="de">Ausführen des Paketsteuerer-Säuberungs-Skripts</description>
        <message>System policy prevents executing package handlers' cleanup scripts</message>
        <message xml:lang="tr">Sistem politikası paket işleyicilerinin temizlik betiklerininin çalıştırılmasını engelliyor</message>
        <message xml:lang="fr">Le mode de gestion du système ne permet pas d'exécuter les scripts de nettoyage du gestionnaire de paquet</message>
        <message xml:lang="es">La política del sistema no permite la ejecución de los scripts de limpieza de paquetes</message>
	<message xml:lang="de">Systemrichtlinie verhindert die Ausführung des Paketsteuerer-Säuberungs-Skripts</message>
        <defaults>
            <allow_any>no</allow_any>
            <allow_inactive>no</allow_inactive>
            <allow_active>no</allow_active>
        </defaults>
    </action>
</policyconfig>
